# Lecture 17

### This lecture

Continue introduce basic features and usage of the **pandas** library

In [1]:
# import module
import pandas as pd
# for some examples, we also need numpy and matplotlib
import numpy as np
import matplotlib.pyplot as plt

**pandas** library mainly provides data structures and methods for representing and manipulating data

### Two main data structure of pandas are the following objects
* **Series**: represent data series
* **DataFrame**: represent tabular data

## DataFrame

We have seen **pandas Series** object provides a convinient container for one-dimensional arrays, which can use descriptive labels as index.

For higher-dimensional arrays (or tables), the corresponding data structure is the Pandas DataFrame object. It can be viewed as a collection of **Series** objects with a common index.

In [2]:
df = pd.DataFrame([[909976,"Sweden"],
                   [8615246,"United Kindom"],
                   [2872086,"Italy"],
                   [2273305,"France"]])

In [3]:
df

         0              1
0   909976         Sweden
1  8615246  United Kindom
2  2872086          Italy
3  2273305         France

In [4]:
df.index=["Stokholm","London","Rome","Paris"]

In [5]:
df.columns=["Population","State"]

In [6]:
df

          Population          State
Stokholm      909976         Sweden
London       8615246  United Kindom
Rome         2872086          Italy
Paris        2273305         France

Alternatively, we can pass all the information to the constructor to create the DataFrame object

In [7]:
df= pd.DataFrame([[909976,"Sweden"],
                   [8615246,"United Kindom"],
                   [2872086,"Italy"],
                   [2273305,"France"]],
                index=["Stokholm","London","Rome","Paris"],
                columns=["Population","State"])

In [8]:
df

          Population          State
Stokholm      909976         Sweden
London       8615246  United Kindom
Rome         2872086          Italy
Paris        2273305         France

Yet another way to construct the same dataframe object. This can be more convinient sometimes

In [9]:
df=pd.DataFrame({"Population":[909976,8615246,2872086,2273305],
                 "State":["Sweden","United Kindom","Italy","France"]},
               index=["Stokholm","London","Rome","Paris"])

In [10]:
df

          Population          State
Stokholm      909976         Sweden
London       8615246  United Kindom
Rome         2872086          Italy
Paris        2273305         France

As before, the underlining data can be obtained as a Numpy array by using the **values** attributes

In [11]:
df.values

array([[909976, 'Sweden'],
       [8615246, 'United Kindom'],
       [2872086, 'Italy'],
       [2273305, 'France']], dtype=object)

Accessing the column arrays:

In [12]:
df.Population

Stokholm     909976
London      8615246
Rome        2872086
Paris       2273305
Name: Population, dtype: int64

In [14]:
# alternative way
df["Population"]

Stokholm     909976
London      8615246
Rome        2872086
Paris       2273305
Name: Population, dtype: int64

In [16]:
df.State # or we can access it using df["State"]

Stokholm           Sweden
London      United Kindom
Rome                Italy
Paris              France
Name: State, dtype: object

To access the rows arrays, we use the **loc** attribute

In [ ]:
df.loc["Stokholm"]

In [ ]:
df.loc[["Paris","Rome"]]

In [ ]:
df.loc[["Paris","Rome"],"Population"]

We can also compute the descriptive statistics using the same methods as we did for the Series objects.

When invoking those methods (**mean, std, median,min,max**, etc.) for a DataFrame object, the calculation is performed for each column with numerical data types:

In [ ]:
df.mean()

In [ ]:
df.info()

In [ ]:
df.dtypes

The real advantage of using **pandas** is when dealing with larger and more complex datasets than the simple example we have done so far.

A more common situation is that the data must be read from a file. 

Example, we use read_csv function to read in data and create a DataFrame object from a CSV file

In [ ]:
df_population=pd.read_csv("european_cities.csv",header=0)

In [ ]:
df_population

In [ ]:
df_population.info()

Note that only  **Rank** is numeric, however, the population is not. This is becaues population is in format "8,615,246", so it is interpreted as a string by the **read_csv** function

The dataset is to large to display in full. We can use **head** or **tail** methods to show part of the dataset

In [ ]:
df_population.head()

In [ ]:
df_population.head(7)

In [ ]:
df_population[0:5]

In [ ]:
df_population.tail()

We can use the **apply** method to treat/transform the raw data into the desired format

In [ ]:
df_population["NumericalPopulation"]=0 # create an additional column

In [ ]:
df_population

In [ ]:
df_population["NumericalPopulation"]=df_population.Population.apply(lambda x:int(x.replace(",","")))

In [ ]:
df_population

In [ ]:
df_population["State"].values[0:4]

we see each state contains extra white space, and we want to remove the white space

In [ ]:
df_population["State"]=df_population["State"].apply(lambda x:x.strip())

In [ ]:
df_population["State"].values[0:4]

In [ ]:
df_population.info()

We still have integer index. We can change the index to one of the columns of the DataFrame

In [ ]:
df_population2=df_population.set_index("City")

In [ ]:
df_population2

In [ ]:
df_population2.sort_index()

We can create a hierarchical index with State and City, and sort the index by the first index (State,level=0)

In [ ]:
df_population3=df_population.set_index(["State","City"]).sort_index(level=0)

In [ ]:
df_population3.head(7)

In [ ]:
df_population3.loc["Sweden"]

In [ ]:
df_population3.loc[("Sweden","Gothenburg")]

We can count how many cities in each state

In [ ]:
city_counts=df_population.State.value_counts()

In [ ]:
city_counts

We can use delete unwanted columns using **drop** method

In [ ]:
df_population4=(df_population3.drop("Rank",axis=1)) # axis=1 for column, axis=0 for row

In [ ]:
df_population4

Compute total population in each state using **groupby** method

In [ ]:
df_population5=df_population4.groupby("State").sum().sort_values("NumericalPopulation",ascending=False)

In [ ]:
df_population5

plot the results

In [ ]:
fig,axes=plt.subplots(2,1,figsize=(5,10))
city_counts.plot(kind='barh',ax=axes[0])
axes[0].set_xlabel("# cities in top 105")
df_population5.NumericalPopulation.plot(kind='barh',ax=axes[1])
axes[1].set_xlabel("Total population in top 105 cities")
plt.show()